body {
    background: rgb(73, 73, 73);
    font: normal 15pt Arial;    
}

header{
    color: white;
    text-align: center;

}

section {

    background: rgba(252, 252, 252, 0.603);
    border-radius: 15px;
    padding:15x;
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px 10px #00000057;
    
}

footer{

    color: rgba(255, 255, 255, 0.966);
    text-align: center;
    font-style: italic;

}
img {

    border-radius: 50%;
    width: 300px;
    height: 300px;
    
  }

 div{
    text-align: center;
    padding: 5px;
  }
